.form {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:start;
    border-radius: 1rem;
    color: gray;
    height: 20rem;
    width: 20rem;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.btn {
    width: 100%;

}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    input {
        height: 2.5rem;
    }

}

input::placeholder {
    padding-left: 0.5rem;
}

.check {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    gap: 0.2rem;
}

a {
    color: gray;
}